{% extends 'base.html.twig' %}

{% block title %}Currency Converter{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 id="main-title">
                Currency Converter
            </h1>
            <br>
            <br>

            {{ form_start(form, {'action': path('main_convert'), 'method': 'POST'}) }}

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.rubValue) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.rubValue) }}
                        </div>
                        <div class="col-6 offset-md-6" id="rub-error"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.zlotyValue) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(form.zlotyValue) }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Convert</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}